<div class="bodybox">
	
	<div class="compcontainer">
    
    	<div class='code'>
      		<h3>Frontend</h3>
		  	<table>
			  	<tr><td><i>Framework:</i></td><td><strong> Angular 9</strong></td></tr>
			  	<tr><td><i>Deployed to:</i></td><td><strong> Firebase </strong></td></tr> 
			</table>
		</div>
		
		<div class='code'>	  
      		<h3>Backend</h3>
      		<table>
			  	<tr><td><i>Server:</i></td><td><strong>Express.js & Cloud Functions </strong></td></tr>
			  	<tr><td><i>Data base:</i></td><td><strong>Cloud Firestore </strong></td></tr> 
        		<tr><td><i>Deployed to:</i></td><td><strong> Firebase </strong></td></tr>
			</table>
    	</div>
		
    	<div class='code'>
		  	<h3>Code</h3>
		  	<table>
		    	<tr><td><i>GitHub:</i></td><td><strong>
			    	<a class="btn btn-success" rel = "noopener" 
			    	href='https://github.com/999Andr/Universal-RESTful-API' target="_blank">
			        Go over
		        	</a>
		      	</strong></td></tr>
		  	</table>
    	</div>
	</div>

</div>
