<div class="bodybox">
	<div class="compcontainer">
		<section>
			<h3> Download speed of the Angular <strong>Universal</strong> site <strong>vs</strong> 
				the <strong>Regular</strong> site.
			</h3>
            
            <div class="vs">
		        <a class="btn btn-success" rel = "noopener" 
			    	href='https://cars-a62b9.web.app/' target="_blank">
			        Regular
		        </a>
            </div>

            <div class="vs">
            	<a class="btn btn-success" rel = "noopener"  
            		
			    	href='https://cars-ssr-38499.web.app/' 
			    	target="_blank">
			        Universal
		        </a>
            </div> 

        </section>
	</div>
</div>
